* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 58, 110, 116;
    --primary-content: 201, 225, 228;
    --primary-dark: 41, 78, 82;
    --primary-light: 75, 142, 150;

    --secondary: 58, 116, 64;
    --secondary-content: 201, 228, 204;
    --secondary-dark: 41, 82, 45;
    --secondary-light: 75, 150, 83;

    --background: 237, 242, 242;
    --foreground: 251, 252, 252;
    --border: 218, 228, 229;

    --copy: 32, 44, 45;
    --copy-light: 84, 116, 120;
    --copy-lighter: 120, 156, 160;

    --success: 58, 116, 58;
    --warning: 116, 116, 58;
    --error: 116, 58, 58;
    --success-content: 201, 228, 201;
    --warning-content: 228, 228, 201;
    --error-content: 228, 201, 201;
    
    --radius: 0.5rem;
    --nav-width: 0;
  }

  .tw-dark {
    --background: 21, 29, 30;
    --foreground: 32, 44, 45;
    --border: 53, 73, 75;

    --copy: 251, 252, 252;
    --copy-light: 210, 222, 223;
    --copy-lighter: 150, 178, 181;
  }
}

@layer base {
  * {
    @apply tw-border-border;
  }
  body {
    @apply tw-bg-background tw-text-foreground;
  }
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: calc(100% - var(--nav-width));
  margin-left: var(--nav-width);
  margin-bottom: 100px;
}

.w-nav {
  min-width: var(--nav-width);
  width: var(--nav-width);
  max-width: var(--nav-width);
}

@media screen and (min-width: 768px) {
  :root {
    --nav-width: 16rem;
  }
  main {
    margin-bottom: 0;
  }
}
