/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 186deg 33% 34%;
    --primary-content: 186deg 33% 84%;
    --primary-dark: 186deg 33% 24%;
    --primary-light: 186deg 33% 44%;

    --secondary: 126deg 33% 34%;
    --secondary-content: 126deg 33% 84%;
    --secondary-dark: 126deg 33% 24%;
    --secondary-light: 126deg 33% 44%;

    --background: 180deg 16% 94%;
    --foreground: 180deg 14% 99%;
    --border: 185deg 17% 88%;

    --copy: 185deg 17% 15%;
    --copy-light: 187deg 18% 40%;
    --copy-lighter: 186deg 17% 55%;

    --success: 120deg 33% 34%;
    --warning: 60deg 33% 34%;
    --error: 0deg 33% 34%;
    --success-content: 120deg 33% 84%;
    --warning-content: 60deg 33% 84%;
    --error-content: 0deg 33% 84%;
  }

  @media screen and (prefers-color-scheme: dark) {
    :root {
      --background: 187deg 18% 10%;
      --foreground: 185deg 17% 15%;
      --border: 185deg 17% 25%;

      --copy: 180deg 14% 99%;
      --copy-light: 185deg 17% 85%;
      --copy-lighter: 186deg 17% 65%;
    }
  }
}


*/

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180deg 16% 94%;
    --foreground: 185deg 17% 15%;

    --card: 180deg 14% 99%;
    --card-foreground: 185deg 17% 15%;

    --popover: 180deg 14% 99%;
    --popover-foreground: 185deg 17% 15%;

    --primary: 186deg 33% 34%;
    --primary-dark: 186deg 33% 24%;
    --primary-light: 186deg 33% 44%;
    --primary-foreground: 186deg 33% 84%;

    --secondary: 126deg 33% 34%;
    --secondary-foreground: 126deg 33% 84%;
    --secondary-dark: 126deg 33% 24%;
    --secondary-light: 126deg 33% 44%;

    --muted: 180deg 16% 94%;
    --muted-foreground: : 187deg 18% 40%;

    --accent: 186deg 33% 44%;
    --accent-foreground: 186deg 33% 84%;

    --destructive: 0deg 33% 34%;
    --destructive-foreground: 0deg 33% 84%;

    --border: 185deg 17% 88%;
    --input: 186deg 33% 44%;
    --ring: 186deg 33% 24%;

    --radius: 0.5rem;
  }

  .tw-dark {
    --background: 185deg 17% 15%;
    --foreground: 180deg 16% 94%;

    --card: 180deg 14% 99%;
    --card-foreground: 185deg 17% 15%;

    --popover: 180deg 14% 99%;
    --popover-foreground: 185deg 17% 15%;

    --primary: 186deg 33% 34%;
    --primary-dark: 186deg 33% 24%;
    --primary-light: 186deg 33% 44%;
    --primary-foreground: 186deg 33% 84%;

    --secondary: 126deg 33% 34%;
    --secondary-foreground: 126deg 33% 84%;
    --secondary-dark: 126deg 33% 24%;
    --secondary-light: 126deg 33% 44%;

    --muted: 180deg 16% 94%;
    --muted-foreground: : 187deg 18% 40%;

    --accent: 186deg 33% 44%;
    --accent-foreground: 186deg 33% 84%;

    --destructive: 0deg 33% 34%;
    --destructive-foreground: 0deg 33% 84%;

    --border: 185deg 17% 88%;
    --input: 186deg 33% 44%;
    --ring: 186deg 33% 24%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply tw-border-border;
  }
  body {
    @apply tw-bg-background tw-text-foreground;
  }
}
